/* revature orange: 242, 105, 38*/

.container-header {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    text-align: center;
    background: tomato;
}

.container-header > * {
    padding: 10px;
    flex: 1 100%;
}

.container-body {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    text-align: center;
}

.container-body > * {
    padding: 10px;
    flex: 1 100%;
}

.container-footer {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    text-align: center;
    background: lightgreen;
}

.container-footer > * {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    text-align: center;
    background: hotpink;
}

.information {
    text-align: left;
    background: white;
    flex: 2 0px;
    order: 1;
}

.logo-holder {
    flex: 1 0px;
    order: 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo-icon {
    flex: 1 0px;
    order: 1;
    width: 5em;
}

.office-icon {
    flex: 1 0px;
    order: 2;
    background-image: url("office_stock.jpg");
    border-radius: 0px 0px 0px 0px;
}

.home-image {
    background: rgb(242, 105, 38);
    border-radius: 300px 0px 0px 300px;
    flex: 3 0px;
    order: 3;
}

.white-background {
    background: white;
    border-radius: 50% 0% 0% 50%;
    width: 75%;
}

body {
    padding: 2em;
}